/* Reset browser default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: sans-serif
}

body {
  color: #fff;
  overflow-x: hidden;
  transition: background-color 1s;
}

main{
  margin-bottom: 50px;
}

.container {
  max-width: 960px;
  margin: auto;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  margin-top: 5%;
}
  


a:visited {
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
  z-index: 100;
}

/* Header */
header {
  padding: 5px;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
}

/* Fix for div#header-buttons */
div#header-buttons {
  z-index: 1000000;
  margin-left: 4%;
  position: absolute;
  margin-top: 15px;
  padding: 3px 30px;
}

/* Remove the outline on focus for div#header-buttons */
div#header-buttons:focus {
  outline: none;
}

.header__logo {
  width: 51px;
  height: 50px;
  margin-left: 82%;
  margin-top: 15px;
  }
  
.header__title {
    font-size: 37px;
    padding-left: 1%;
    padding-top: 1%;
    font-weight: bold;
} 
  
.fetch-data {
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
}
  
  .fetch-data:hover {
    box-shadow: 1px 1px 25px 10px rgba(73, 211, 126, 0.4);
  }
  
  .fetch-data:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      100deg,
      transparent,
      rgba(61, 206, 117, 0.4),
      transparent
    );
    transition: all 650ms;
  }
  
  .fetch-data:hover:before {
    left: 100%;
  }
  
  .fetch-data {
  background-color: #48915e;
	color: inherit;
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 15px;
  border-color: #333;
  border-width: 2px;
}



.fetch-data:hover {
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
  transition: background-color 1.5s;
  transition: border-radius 1.5;
  transition-duration: 1.5s;
  background-color:rgb(59, 150, 78);
  border-color:rgb(59, 150, 78);
}

.fetch-data:focus {
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
  transition: background-color 1.5s;
  transition: border-radius 1.5;
  transition-duration: 1.5s;
  background-color:rgb(69, 172, 91);
  border-color:rgb(69, 172, 91);
  background: linear-gradient(
    100deg,
    transparent,
    rgba(14, 14, 14, 0.4),
    transparent
  );
  transition: all 650ms;
  box-shadow: 1px 1px 25px 10px rgba(73, 211, 126, 0.4);
}


.top-artists .list-item-content { 
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

.top-artists img.album-art{
  height: 250px;
  width: 250px;
}

.recommendations ul, .top-artists ul, .top-tracks ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  counter-reset: item;
  width: 100%;
  max-width: 1000px;
}

li {
  border: #1b1b1b;
  border-style: solid;
  padding: 20px;
  background-color: #272727;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 20px;
}

li:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transform: translateY(-4px);
}

.list-item-content {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.album-art {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 20px;
  flex-shrink: 0;
}

li:before {
  content: counter(item) ".";
  counter-increment: item;
  text-align: left;
  margin-right: 10px;
}

li:before { 
  content: counter(item) ".";
  counter-increment: item;
}

html {
  scroll-behavior: smooth;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
  padding-bottom: 20px;
}

.top-artists {
  margin-top: 30px;
}

.top-tracks ul li, .recommendations ul li {
  width: 100%;
  max-width: 600px;
}

.top-artists ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;
}

p.song-name {
  font-size: large;
  font-weight: bold;
}

.artist-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.song-info {
  font-size: 16px;
  margin-bottom: 5px;
}

.explicit-indicator {
  font-weight: bolder;
  color: red; /* or any other color you prefer */
  margin-right: 5px;
  margin-left: 5px;
}

.album-info,
.plays-and-duration,
.album-info,
p.genre {
  font-size: 14px;
  color: #999; /* Lighter text color */
  display: inline; /* Display elements inline */
  margin-right: 5px;
  margin-left: 5px;
}

p.genre{
  color: #999;
}

/* Footer CSS */
footer {
  display: flexbox;
  background-color: #1b1b1b;
  color: #fff;
  text-align: center;
  bottom: 0;
  padding: 10px;
  margin-top: 32%;
}

.footer__logo img {
  margin-top: 5px;
  width: 30px;
  height: 30px;
}

#toggle-checkbox {
  transform: scale(3);
}

#toggle-checkbox:hover {
  transform: scale(3.2);
}

#toggle-checkbox:active {
  transform: scale(2.8);
}
#toggle-checkbox{
  font-size: small;
  position: absolute;
  margin-top: 3%;
  margin-left: 3%;
  position: relative;
  z-index: 100;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #f2f2f2;
  cursor: pointer;
  transition: 300ms;
}

.light-theme{
  transition: background-color 1s;
  background-color: #fffff0;
  color: #000000;
}

.light-theme header {
  transition: background-color 1s;
  background-color: #2e754c;
}

.light-theme h1 {
  color: #000000;
  transition: background-color 10s;

}

.light-theme body {
  z-index: 100;
  background-color: #fffff0;
  transition: background-color 1s;
}

.light-theme footer {
  background-color: #c0c0c0;
}

.light-theme li{
  transition: background-color 1s;
  background-color: #EEEEEE;
  color: black;
  border-color: #058A5E;
  border-style: double;
}

.light-theme ul{
  transition: background-color 1s;
  color: black;
  border-left: none;
  border-right: #fffff0;
  border-bottom: #185c1e;
}

.light-theme button {
  background-color: #2c714e;
  color: white;
}

.light-theme #theme-switcher{
  font-size: small;
  position: absolute;
  margin-top: 3%;
  margin-left: 3%;
  position: relative;
  z-index: 100;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #6f6f6f;
  cursor: pointer;
  transition: 300ms;
  transition: background-color 1s;
}


/* Logout Button Test */
.logout{
  text-decoration: none;
  position: relative;
  overflow: hidden;
  height: 50%;
  width: 83%;
}

.logout:hover {
  box-shadow: 1px 1px 25px 10px rgba(73, 211, 126, 0.4);
}

.logout:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    100deg,
    transparent,
    rgba(61, 206, 117, 0.4),
    transparent
  );
  transition: all 650ms;
}

.logout:hover:before {
  left: 50%;
}

.logout{
  background-color: #48915e;
  color: inherit;
  padding: 10px 1px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 5px 30px;
  cursor: pointer;
  border-radius: 15px;
  border-color: #333;
  border-width: 2px;
}

.logout:hover {
font-size: 16px;
margin: 4px 10px;
cursor: pointer;
transition: background-color 1.5s;
transition: border-radius 1.5;
transition-duration: 1.5s;
background-color:rgb(59, 150, 78);
border-color:rgb(59, 150, 78);
}

.logout:focus {
font-size: 16px;
margin: 4px 10px;
cursor: pointer;
transition: background-color 1.5s;
transition: border-radius 1.5;
transition-duration: 1.5s;
background-color:rgb(69, 172, 91);
border-color:rgb(69, 172, 91);
background: linear-gradient(
  100deg,
  transparent,
  rgba(14, 14, 14, 0.4),
  transparent
);
transition: all 650ms;
box-shadow: 1px 1px 25px 10px rgba(73, 211, 126, 0.4);
}

/* Login Button Test */
.login{
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
}

.login:hover {
  box-shadow: 1px 1px 25px 10px rgba(73, 211, 126, 0.4);
}

.login:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    100deg,
    transparent,
    rgba(61, 206, 117, 0.4),
    transparent
  );
  transition: all 650ms;
}

.login:hover:before {
  left: 100%;
}

.login{
background-color: #48915e;
color: inherit;
padding: 10px 30px;
text-align: center;
display: inline-block;
font-size: 16px;
margin: 4px 10px;
cursor: pointer;
border-radius: 15px;
border-color: #333;
border-width: 2px;
}

.logout:hover {
font-size: 16px;
margin: 4px 10px;
cursor: pointer;
transition: background-color 1.5s;
transition: border-radius 1.5;
transition-duration: 1.5s;
background-color:rgb(59, 150, 78);
border-color:rgb(59, 150, 78);
}

.login:focus {
font-size: 16px;
margin: 4px 10px;
cursor: pointer;
transition: background-color 1.5s;
transition: border-radius 1.5;
transition-duration: 1.5s;
background-color:rgb(69, 172, 91);
border-color:rgb(69, 172, 91);
background: linear-gradient(
  100deg,
  transparent,
  rgba(14, 14, 14, 0.4),
  transparent
);
transition: all 650ms;
box-shadow: 1px 1px 25px 10px rgba(73, 211, 126, 0.4);
}

#hidden-toggle {
  display: none;
}
